---
import Layout from '../layouts/Layout.astro'
import coverImage from '../images/cropped.jpg'
import signatureImage from '../images/signature.png'
import { Image } from 'astro:assets'
import NavCard from '../components/NavCard.astro'

interface Props {
  lang: "th" | "en"
  links: {
    label: string
    href: string
  }[]
}

const { lang="th", links } = Astro.props

const text = {
  name: {
    th: 'คุณนพพร สุวรรณิก',
    en: 'Nopporn Suwanik'
  },
  gratitude: {
    th: "ด้วยสำนึกในพระมหากรุณาธิคุณ",
    en: "In Grateful Remembrance of Royal Benevolence"
  },
  title: {
    th: "อนุสรณ์งานฌาปนกิจศพ",
    en: "Cremation Memorial"
  }
}
---

<Layout>
  <div class="flex flex-col items-center justify-center lg:h-screen py-12">
    <div>
      <div class="grid grid-cols-1 lg:grid-cols-[min-content_1fr] gap-4 lg:gap-12">
        <div class="w-1/3 min-w-[250px] rounded-full overflow-hidden mx-auto">
          <Image src={coverImage} alt="cover" class="w-full h-full object-contain" />
        </div>
        <div class="">
          <div class="text-center">
            <p class="-mb-4">In loving memory of</p>
            <p class="text-3xl md:text-4xl mb-4 font-heading text-yellow-500">{text.name[lang]}</p>
            <p>
              <Image src={signatureImage} alt="signature" class="!max-w-[200px] mx-auto mix-blend-screen" />
            </p>
            <p class="mt-4 font-heading text-xl">
              {text.title[lang]}
            </p>
            <p class="">
              {lang === "th"
              ? <>
                  ณ วัดสระเกศ ราชวรมหาวิหาร<br />
                  เขตป้อมปราบศัตรูพ่าย กรุงเทพมหานคร<br />
                  วันที่ 22 ธันวาคม 2567 เวลา 17.00 น.
                </>
              : <>
                  Wat Saket Ratchaworamahawihan<br />
                  Pom Prap Sattru Phai District, Bangkok<br />
                  December 22, 2024 at 5:00 PM
                </>
              }
            </p>
            <p>
              <a class="font-heading" href=`${lang === "en" ? "/en" : ""}/gratitude`>{text.gratitude[lang]}</a>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="grid grid-cols-1 lg:block gap-4 my-8">
      {links.map((link) => (
        <NavCard {...link} />
      ))}
    </div>
    <div class="py-8 font-heading">
      {lang === "th"
      ? <>
          <span class="pr-4">ไทย</span> | <span class="pl-4"><a href="/en">English</a></span>
        </>
      : <>
          <span class="pr-4"><a href="/">ไทย</a></span> | <span class="pl-4">English</span>
        </>
      }
    </div>
  </div>

</Layout>
