---
import '../styles/global.css'
import flowers from '../images/flowers.svg'

const { lang, title } = Astro.props
const mainTitle = lang === "th" ? "นพพร สุวรรณิก" : "Nopporn Suwanik"
const finalTitle = title ? `${title} | ${mainTitle}` : mainTitle
const finalDescription = lang === "th" ? "อนุสรณ์งานฌาปนกิจศพ คุณนพพร สุวรรณิก" : "Cremation Memorial for Nopporn Suwanik"
---
<!doctype html>
<html lang={lang}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={finalDescription} />
    <!-- add og tags -->
    <meta property="og:title" content={finalTitle} />
    <meta property="og:description" content={finalDescription} />
    <meta property="og:image" content={`${Astro.site}og${lang === "en" ? '-en' : ''}.jpg`} />
    <meta property="og:url" content={Astro.url} />
    <title>{finalTitle}</title>
  </head>
  <body class="bg-[#1B3281] text-white">
    <div class="vignette" style={{overscrollBehavior: "none"}}>
      <img src={flowers.src} alt="" class="w-[250vw] sm:w-[200vw] md:w-[150vw] max-w-[300vw] absolute bottom-[-300px] sm:bottom-[-250px] md:bottom-[-250px] lg:bottom-[-500px] right-[-200px] sm:right-[-300px] md:right-[-200px] lg:right-[-300px] opacity-20" />
    </div>
    <div class="relative">
      <slot />
    </div>
  </body>
</html>

<style>
  .vignette {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: radial-gradient(ellipse at center, rgba(0, 0, 0 ,0) 0%,rgba(0, 0, 0, 0) 60%,rgba(0, 0, 0, 0.8) 100%);
    z-index: 0;
  }
</style>